[*.cs]

# Indentation style
indent_style = space
indent_size = 4
tab_width = 4

# IDE0019: Use pattern matching
# Justification: Not a useful blanket rule; pattern matching (especially negative pattern matches) can result in less readable code.
dotnet_diagnostic.IDE0019.severity = none

# IDE0049: Simplify Names
# Justification: Matter of preference. ReSharper has a few rules codified in the DotSettings file to deal with this.
dotnet_diagnostic.IDE0049.severity = none

# IDE0055: Fix formatting
# Justification: False-positives.
dotnet_diagnostic.IDE0055.severity = none

# IDE0079: Remove unnecessary suppression
# Justification: False-positive. This warning may incorrectly be shown if some of the code inspection plugins are not installed.
dotnet_diagnostic.IDE0079.severity = none

# IDE1006: Naming Styles
# Justification: ReSharper takes care of this, and has some abbreviations configured so they aren't flagged.
dotnet_diagnostic.IDE1006.severity = none

# S1168: Empty arrays and collections should be returned instead of null
# Justification: Not a useful blanket rule; null avoids unnecessary allocation overhead and is useful for indicating true absence of a value.
dotnet_diagnostic.S1168.severity = none

# S1199: Nested code blocks should not be used
# Justification: Not a useful blanket rule; nested scopes can be useful for clearly delimiting intended usages for local variables.
dotnet_diagnostic.S1199.severity = none

# S2344: Enumeration type names should not have "Flags" or "Enum" suffixes
# Justification: Matter of preference; I think have an 'EFooFlags' enum is very useful to visibly denote its purpose / mark it as a bitfield.
dotnet_diagnostic.S2344.severity = none

# S3267: Loops should be simplified with "LINQ" expressions
# Justification: If you need a foreach, use a foreach. I don't understand this insistence on overcomplicating things.
dotnet_diagnostic.S3267.severity = none

# S3881: Fix this implementation of 'IDisposable' to conform to the dispose pattern
# Justification: False positives.
dotnet_diagnostic.S3881.severity = none

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_prefer_braces = when_multiline
csharp_preferred_modifier_order = public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_style_var_for_built_in_types = false:none
csharp_style_var_when_type_is_apparent = true:none
csharp_style_var_elsewhere = false:none
dotnet_naming_rule.constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.constants_rule.severity = warning
dotnet_naming_rule.constants_rule.style = k_upper_camel_case_underscore_tolerant_style
dotnet_naming_rule.constants_rule.symbols = constants_symbols
dotnet_naming_rule.locals_rule.import_to_resharper = as_predefined
dotnet_naming_rule.locals_rule.severity = warning
dotnet_naming_rule.locals_rule.style = all_lower_style
dotnet_naming_rule.locals_rule.symbols = locals_symbols
dotnet_naming_rule.local_constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.local_constants_rule.severity = warning
dotnet_naming_rule.local_constants_rule.style = lower_camel_case_style
dotnet_naming_rule.local_constants_rule.symbols = local_constants_symbols
dotnet_naming_rule.parameters_rule.import_to_resharper = as_predefined
dotnet_naming_rule.parameters_rule.resharper_style = aaBb, aaBb_AaBb, AaBb_AaBb
dotnet_naming_rule.parameters_rule.severity = warning
dotnet_naming_rule.parameters_rule.style = lower_camel_case_style
dotnet_naming_rule.parameters_rule.symbols = parameters_symbols
dotnet_naming_rule.private_constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_constants_rule.severity = warning
dotnet_naming_rule.private_constants_rule.style = k_upper_camel_case_underscore_tolerant_style
dotnet_naming_rule.private_constants_rule.symbols = private_constants_symbols
dotnet_naming_rule.private_instance_fields_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_instance_fields_rule.severity = warning
dotnet_naming_rule.private_instance_fields_rule.style = m_upper_camel_case_underscore_tolerant_style
dotnet_naming_rule.private_instance_fields_rule.symbols = private_instance_fields_symbols
dotnet_naming_rule.private_static_fields_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_fields_rule.severity = warning
dotnet_naming_rule.private_static_fields_rule.style = s_upper_camel_case_underscore_tolerant_style
dotnet_naming_rule.private_static_fields_rule.symbols = private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_readonly_rule.severity = warning
dotnet_naming_rule.private_static_readonly_rule.style = upper_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols
dotnet_naming_style.all_lower_style.capitalization = all_lower
dotnet_naming_style.all_lower_style.word_separator = _
dotnet_naming_style.k_upper_camel_case_underscore_tolerant_style.capitalization = pascal_case
dotnet_naming_style.k_upper_camel_case_underscore_tolerant_style.required_prefix = k_
dotnet_naming_style.k_upper_camel_case_underscore_tolerant_style.word_separator = _
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.m_upper_camel_case_underscore_tolerant_style.capitalization = pascal_case
dotnet_naming_style.m_upper_camel_case_underscore_tolerant_style.required_prefix = m_
dotnet_naming_style.m_upper_camel_case_underscore_tolerant_style.word_separator = _
dotnet_naming_style.s_upper_camel_case_underscore_tolerant_style.capitalization = pascal_case
dotnet_naming_style.s_upper_camel_case_underscore_tolerant_style.required_prefix = s_
dotnet_naming_style.s_upper_camel_case_underscore_tolerant_style.word_separator = _
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_naming_symbols.constants_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds = field
dotnet_naming_symbols.constants_symbols.required_modifiers = const
dotnet_naming_symbols.locals_symbols.applicable_accessibilities = *
dotnet_naming_symbols.locals_symbols.applicable_kinds = local
dotnet_naming_symbols.local_constants_symbols.applicable_accessibilities = *
dotnet_naming_symbols.local_constants_symbols.applicable_kinds = local
dotnet_naming_symbols.local_constants_symbols.required_modifiers = const
dotnet_naming_symbols.parameters_symbols.applicable_accessibilities = *
dotnet_naming_symbols.parameters_symbols.applicable_kinds = parameter
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers = static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers = static,readonly
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

[*.json]
indent_style = tab
indent_size = 4
tab_width = 4
