# Auto detect text files and perform LF normalization
*          text=auto

# CSharp-specific
*.cs       text diff=csharp
*.cshtml   text diff=html
*.csx      text diff=csharp
*.sln      text eol=crlf merge=union
*.csproj   text merge=union

# Language analysis: exclude 3rd-party libraries
External/* linguist-vendored

# Language analysis: exclude documentation
Modules/Docs/* linguist-documentation
